<h1>This is the secret page</h1>

<p>Now You've witnessed my final form!</p>

<img src ="https://images.unsplash.com/photo-1513185158878-8d8c2a2a3da3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">
<li><a href="/register">Sign up!</a></li>
<li><a href="/register">Login!</a></li>
<li><a href="/register">Logout</a></li>